---
import "@/styles/global.css";
import Navbar from "@/components/navbar.astro";
import Footer from "@/components/footer.astro";
import { CookiesAlert } from "@/components/cookies_alert";
import { ClientName, ClientURL } from "@/utils/project_data";
import { Toaster } from "@/components/ui/sonner";
interface Props {
	title: string;
	description: string;
	image?: string;
	url?: string;
	creator?: string;
}
const { title, description, image, url, creator } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{ClientName} | {title}</title>
		<!-- SEO -->
		<meta name="description" content={description} />
		<meta name="description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content="Vibecriativa" />
		<meta
			property="og:image"
			content={image ? image : "/default-share.png"}
		/>
		<meta property="og:url" content={`${ClientURL}/${url}`} />
		<meta property="og:type" content="website" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:locale" content="pt_BR" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:url" content={`${ClientURL}/${url}`} />
		<meta name="twitter:site" content={`${ClientName}`} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta
			name="twitter:image"
			content={image ? image : "/default-share.png"}
		/>
		<meta name="twitter:creator" content={creator ? creator : ClientName} />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<!-- Favicons -->
		<link
			rel="apple-touch-icon"
			sizes="57x57"
			href="/favicons/apple-icon-57x57.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="60x60"
			href="/favicons/apple-icon-60x60.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="72x72"
			href="/favicons/apple-icon-72x72.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="76x76"
			href="/favicons/apple-icon-76x76.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="114x114"
			href="/favicons/apple-icon-114x114.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="120x120"
			href="/favicons/apple-icon-120x120.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="144x144"
			href="/favicons/apple-icon-144x144.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="152x152"
			href="/favicons/apple-icon-152x152.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicons/apple-icon-180x180.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="/favicons/android-icon-192x192.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicons/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="96x96"
			href="/favicons/favicon-96x96.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicons/favicon-16x16.png"
		/>
		<link rel="manifest" href="/manifest.json" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta
			name="msapplication-TileImage"
			content="/favicons/ms-icon-144x144.png"
		/>
		<meta name="theme-color" content="#ffffff" />
		<style>
			@view-transition {
				navigation: auto; /* enabled! */
			}
		</style>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<Toaster client:visible />
		<Footer />
		<CookiesAlert client:load />
	</body>
</html>
