---
import HTML from "../../_base.astro";
import {posts} from "@/data-mock-api/blog/allposts.json"
const post = posts.find((item)=> item.slug === Astro.params.slug )
export async function getStaticPaths() {
   return posts.map(({ slug }) => {return { params: { slug: slug } }})
}
---
<HTML title={`${post.title}`} description={`${post.description}`} >
    <article class="max-w-[700px] mx-auto pt-20 px-4">
        <img
            src={`${post.img?.url}`}
            alt={`${post.img?.alt}`}
            class="max-w-full rounded-lg"
        />
        <ul class="flex gap-4 my-10">
            {
                post.categories?.map((category) => (
                    <li class="text-xs text-slate-500">{category.name}</li>
                ))
            }
        </ul>
        <h1 class="text-2xl lg:text-4xl font-medium text-slate-950 my-8">
            {post.title}
        </h1>
        <p class="text-slate-900">{post.description}</p>
        <div class="prose pt-10 pb-20" set:html={post.content} />
    </article>
</HTML>
@/data/_api/blog/allposts.json